body{
    padding: 0%;
    margin: 0%;
}
@font-face {
    font-family: Norse-bold;
    src: url(Fonts/Norse-Bold.otf);
}
.main{
display: flex;
flex-direction: row;
width: 100vw;
height: 100vh;
}
.left{
    background-image:url('images/AI.jpg');
    width: 40vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-logo{
    background-color: rgb(0,0,0, .5);
    height: 100px;
    margin-top: 25%;
    
}

[src] {
    width: 15%;
    margin-left: 35%;
}
.odin{
    color: #E5E7EB;
    font-size: 90px;
    padding-left: 20%;
    position: absolute;
    font-family: Norse-bold;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}
.first{
    height: 35vh;
    align-items: flex-end;
    margin-left: 4%;
}

.second{
    height: 40vh;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 4%;
}

.third{
    height: 30vh;
    margin-left: 4%;
    margin-top: 4%;
}

.main-form{
    display: flex;
    flex-direction: row;
    font-size: smaller;
}

.right-form{
    margin-left: 40px;
}


.btn-green{
    background-color:#596D48;
    height: 40px;
    color: white;
    border-radius: 5px;
    width: 150px;
}
input{
width: 200;
border: 1px solid #E5E7EB;
border-radius: 3px;
}

input:focus{
    border:2px solid blue
}